*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #0a0f1f; 
}


h1{
    background-color: #081b31;
    color: white;
    height: 5rems;
    line-height: 5rem;
}

/*           buttons               */

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: #e3f2fd;
    box-shadow: 0 0 15px #fff;
}

.choice:active{
    transform: scale(0.95,0.95);
    opacity: 0.5;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/*           score-board              */

.score-board{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

/*          msg-container           */

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #ff9900;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
